body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.table {
    width: 80%;
    margin: 2em auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.1);
}

.table th, .table td {
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
}

.table th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: 600;
}

.table td {
    color: #666;
}

.table a {
    color: #1ec3e0;
    text-decoration: none;
    transition: color 0.3s ease;
}

.table a:hover {
    color: #09a3d7;
}

.h1 {
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
    padding: 0.3em;
    color: #333;
}

.create-new {
    display: block;
    margin: 1em auto;
    text-align: center;
    width: 15em;
    padding: 0.7em 0;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    background-color: #1ec3e0;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.create-new:hover {
    background-color: #09a3d7;
}

.text-4xl {
    text-align: center;
    padding-top: 1em;
}

.content-form {
    width: 55%;
    margin: 1.5em auto auto;
    padding: 2em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.save-update-btn-form {
    color: #17a2b8;
    font-weight: bold;
    padding: 0.5em;
    background-color: transparent;
    border: #17a2b8 solid 2px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 10em;
    margin-right: 1em;
    text-align: center;
}

.save-update-btn-form:hover {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;

}

.back-to-list-btn {
    color: #6c757d;
    padding: 0.5em;
    background-color: transparent;
    border: #6c757d solid 2px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 10em;
    text-align: center;
}

.back-to-list-btn:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    cursor: pointer;
}

.btn-links-under-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.anchor-back-to-list:hover {
    color: #ffff;
}