body {
     /*background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%)!important;*/
    /*background-color: lightgrey!important;*/
}

.form-div-outer {
    width: 25em;
    margin: 0 auto;
    margin-top: 8em;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}

#form-div-outer-register {
    height: 28em;
}

.headline-form-login {
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
    padding: 0.3em;
}

.headline-form-register {
    font-size: 2.3em;
    font-weight: 600;
    text-align: center;
    padding: 0.5em;
}

#line-login, #line-register {
    padding-top: 0.3em;
    border-bottom: 1px solid #676767; /* Dicke und Farbe der Linie festlegen */
}

.form-inner {
    align-content: center;
    justify-content: center;
    align-items: center;
}

.register-btn-in-login {
    color: #1ec3e0;
    font-weight: 550;
}

.form-inner {
    padding: 2em;
    padding-top: 0.5em;
}

.username, .inputUsername {
    width: 100%;
}

.password, .inputPassword {
    width: 100%;
}

.inputPassword, .inputUsername {
    padding-left: 0.2em;
}

.username-label, .password-label{
    color: #1ec3e0;
    font-weight: 500;
    font-size: large;
}

.password {
        padding-top: 1em;
}

.submit-btn {
    margin-top: 1em;
    text-align: center;
    width: 100%;
    padding: 0.7em 0;
    color: white;
    font-weight: 600;
    font-size: 1em;
    background-color: lightgrey;
    border-radius: 5px;
}

.submit-btn {
    background-color: deepskyblue;
}

.submit-btn:hover {
    background-color: #09a3d7;
}

.submit-btn:focus {
    background-color: #087ea4;
}

.inputPassword:focus, .inputUsername:focus {
    outline: none;
}

#line-usr, #line-pw, #line-pw-repeat{
    border: 1px solid darkslategrey;
}

.not-member-register {
    margin-top: 1em;
}

.line-blue {
    border-color: #20c3e0 !important;
}


.register-btn-submit,.login-btn-submit {
    margin-top: 1em;
}

.input-pw-register {

}