.table {
    width: 80%;
    margin: 2em auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 19px 0 rgba(0,0,0,0.1);
}

.table th, .table td {
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #eaeaea;
}

.table th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: 600;
}

.table td {
    color: #666;
}

.table a {
    color: #1ec3e0;
    text-decoration: none;
    transition: color 0.3s ease;
}

.table a:hover {
    color: #09a3d7;
}

.h1 {
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
    padding: 0.3em;
    color: #333;
}

.progress-bar {
    background-color: #f3f3f3;
    border-radius: 2px;
    overflow: hidden;
}

.progress-bar-inner {
    height: 20px;
    background-color: #4caf50;
    width: 0;
}

.order-filters {
    width: 50%;
    text-align: center;
    margin: 2em auto;
    padding: 1em;
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: 0 0 19px 0 rgba(0,0,0,0.1);
}

.book-filters {
    width: 70%;
    text-align: center;
    margin: 2em auto;
    padding: 1em;
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: 0 0 19px 0 rgba(0,0,0,0.1);
}

.book-filter-label {
    font-weight: bold;
    margin-left: 2%;
}

.book-filter {
    background-color: #f3f3f3;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}


@media screen and (max-width: 1030px) {
    .order-filters {
        width: 80%;
    }

    .table {
        width: 95%;
    }
}

.order-filter-label {
    font-weight: bold;
    margin-left: 2%;
}

.order-filter {
    background-color: #f3f3f3;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.img-size {
    width: 32px;
    height: 32px;
    margin: auto;
}

.order-img-size {
    width: 40px;
    height: 40px;
    margin: auto;
}

.create-new {
    display: block;
    margin: 1em auto;
    text-align: center;
    width: 15em;
    padding: 0.7em 0;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    background-color: #1ec3e0;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.create-new:hover {
    background-color: #09a3d7;
}