{% extends 'base.html.twig' %}

{% block title %}Dateien Import{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('style/stylingImportPage.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}

    <div class="import-outside-table">
        <div class="headline-import">
            Bitte wählen Sie ihre Import-Datei.
        </div>
        <form id="upload-form" method="post" action="{{ path('xlsx') }}" enctype="multipart/form-data">
            <input id="input-import-file" type="file" name="file">
            <br>
            <button class="submit-btn-profile" type="submit">Upload</button>
        </form>
        <div id="output"></div>
    </div>

    <script>
        $(document).ready(function () {
            $('#upload-form').on('submit', function (e) {
                e.preventDefault();
                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: new FormData(this),
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        // Clear the old table
                        $('#output').empty();

                        $('<button>')
                            .text('Import bestätigen')
                            .click(function () {
                                // Call the save function when the button is clicked
                                $.ajax({
                                    url: '/save',
                                    type: 'POST',
                                    success: function (response) {
                                        // Redirect to the returned URL
                                        alert('Daten gespeichert!')
                                        window.location.href = response.url;
                                    }
                                });
                            })
                            .appendTo('#output');

                        $('<h3>').text('Folgende Daten werden importiert:').appendTo('#output');

                        // Append the new table
                        var table = $('<table>').appendTo('#output');
                        data.forEach(function (item) {
                            var row = $('<tr>').appendTo(table);
                            Object.values(item).forEach(function (value) {
                                $('<td>').text(value).appendTo(row);
                            });
                        });
                    }
                });
            });
        });
    </script>


{% endblock %}
