<form method="post" action="{{ path('app_department_delete', {'id': department.id}) }}" onsubmit="return confirm('Bist du dir sicher, dass du es löschen möchtest?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ department.id) }}">
    <button class="create-new">Löschen</button>
</form>