<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Schulbuchaktion |{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('style/stylingLandingPageAndNavbar.css') }}" type="text/css"/>

    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{{ asset('js/burgerMenu.js') }}"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            function setBlueBorder(elementId) {
                var elementFocus = document.getElementById(elementId);
                var elementNotFocus;
                var elementNotFocus2;

                if (elementId === 'line-usr') {
                    elementNotFocus = document.getElementById('line-pw');
                    elementNotFocus2 = document.getElementById('line-pw-repeat');
                } else if (elementId === 'line-pw') {
                    elementNotFocus = document.getElementById('line-usr');
                    elementNotFocus2 = document.getElementById('line-pw-repeat');
                } else if (elementId === 'line-pw-repeat') {
                    elementNotFocus = document.getElementById('line-usr');
                    elementNotFocus2 = document.getElementById('line-pw');
                }
                elementFocus.classList.add('line-blue');
                elementNotFocus.classList.remove('line-blue');
                elementNotFocus2.classList.remove('line-blue');
            }
        </script>
    {% endblock %}
</head>
<body>
{% include "includes/_navbar.html.twig" %}
{% block body %}{% endblock %}
</body>
</html>