{% extends 'base.html.twig' %}

{% block title %}Schulbuchaktion{% endblock %}

    {% block stylesheets %}
        <link href="{{ asset('style/stylingLandingPageAndNavbar.css') }}" type="text/css" rel="stylesheet"/>
    {% endblock %}

{% block body %}

    <header class="header-landing-page">
        <div class="headline-landing-page">
            Willkommen im Schulbuch Portal.
        </div>
    </header>

    {% if app.user %}
        <div class="link-to-home">
            <button id="btn-to-home">
                <a style="color: #f5f5f5" href="{{ path('home.') }}">-> Bestellen Sie nun Ihre Bücher</a>
            </button>
        </div>
    {% endif %}

    <div class="logo-div">
        <img class="landing-page-image" src="/images/lading_page_image_2.jpeg" alt="our-logo">
    </div>


{% endblock %}
