{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
<style>
    .customColorBG {
        background-color: #17A2B8;
        transition: 0.3s;
    }

    .customColorBG:hover {
        background-color: #118c9f;
    }

    .customColorText {
        color: #17A2B8;
    }

    .customColorNumber {
        color: #17A2B8;
        transition: 0.3s;
    }

    .customColorNumber:hover {
        color: #118c9f;
    }

    .customColorBorder {
        border-color: #17A2B8;
        transition: 0.3s;
    }

    .customColorBorder:hover {
        border-color: #118c9f;
    }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/Besitzer/Documents/HTL/ITP2/Schulbuchaktion/src/Controller/OrderController.php</code></li>
        <li>Your template at <code>C:/Users/Besitzer/Documents/HTL/ITP2/Schulbuchaktion/templates/order/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
